body {
    background: linear-gradient(0deg, rgb(34, 193, 195) 0%, rgb(253, 187, 45) 100%);
    min-height: 1024px;
}

.lista {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

h1 {
    font-family: sans-serif;
    text-align: center;
}

.card {
    transition: all 0.3s ease 0s;
    position: relative;
    width: 15rem;
    height: 20rem;
    margin: 6rem 1rem 0rem 0rem;
}

.card:hover {
    transform: perspective(250px) rotate(0deg) translateY(-5%) translateZ(0px);
    cursor: pointer;
}

.card::before {
    content: "";
    position: absolute;
    bottom: 0px;
    height: 100%;
    width: 100%;
    background: linear-gradient(0deg, rgb(0, 0, 0), rgba(0, 0, 0, 0));
    border-radius: 10px;
    opacity: 0;
    transition: all 0.3s ease 0s;
}

.card:hover::before {
    opacity: 1;
}

.card:hover .card-img-character {
    opacity: 1;
    transform: translateY(10%);
}

.card-img-background {
    object-fit: cover;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.card-img-character {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    transform: translateY(25%);
    transition: all 0.3s ease 0s;
    margin: auto;
    opacity: 0;
    width: 200px;
}

.card-text-tittle {
    background-color: aqua;
}
